html
  head
    meta(charset="utf8")
    title SuitArt Business Card
    - var stylesheetLink = theme_path + '/css/simple.css'
    - var stylesheetCommonLink = theme_common_resources + '/css/style.css'
    link(rel='stylesheet', href=stylesheetCommonLink)
    link(rel='stylesheet', href=stylesheetLink)
  body
    .container.mt-20.mb-20
      .row.border-bottom
        .col-8
          .header
            h1.header-title.mb-20
              span.text-block.text-first #{first_name}
              span.text-block.text-last #{last_name}
            h2.sub-title #{current_job_title}
        .col-4.text-right
          - var linkedIn = linkedin
          - var twitterLink = twitter
          - var facebookLink = facebook
          - var githubLink = github
          - var instagramLink = instagram
          ul.list-unstyled
            li
              a(href=linkedIn, target='_blank')
                p
                  i.fa.fa-linkedin-square.mr-5
                  small #{linkedIn}
            li
              a(href=twitterLink, target='_blank')
                p
                  i.fa.fa-twitter-square.mr-5
                  small #{twitterLink}
            li
              a(href=facebookLink, target='_blank')
                p
                  i.fa.fa-facebook-square.mr-5
                  small #{facebookLink}
            li
              a(href=githubLink, target='_blank')
                p
                  i.fa.fa-github-square.mr-5
                  small #{githubLink}
            li
              a(href=instagramLink, target='_blank')
                p
                  i.fa.fa-instagram.mr-5
                  small #{instagramLink}
      .row
        - var cityName = city
        - var countryName = country
        - var phoneNum = phone_1
        - var emailAddmail = "mailto:" + email
        - var emailAdd = email
        - var websiteLink = website
        .col-3
          h4 Location
          p #{cityName}, #{countryName}
        .col-3
          h4 Phone
          p #{phoneNum}
        .col-3
          h4 Email
          p
            a(href=emailAddmail) #{emailAdd}
        .col-3
          h4 Website
          p
            a(href=websiteLink, target="_blank") #{websiteLink}
    .section.section-bg.section-bg--light-grey
      .container
        .row
          .col-4.section-content--light-grey.section-content--right.section-content--one-third
            h2.section-heading Intro
            p What I am all about.
          .col-8.section-content--two-third
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
              | Pellentesque aaliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.
              | Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh.
              | Nullam mollis. Ut justo. Suspendisse potenti.
              | Nulla vitae mauris non felis mollis faucibus.
            p
              | Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.
              | Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.
              | Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat,
              | lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
              | Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna. Fusce lacinia arcu et nulla.
              | Nulla vitae mauris non felis mollis.
    .section.section-bg.section-bg--grey
      .container
        .row
          .col-4.section-content--white.section-content--right.section-content--one-third
            h2.section-heading Expertise
            p Batman would be jealous.
          .col-8.section-content--two-third
            .row
              .col-6
                h3 Advanced CSS
                p
                  | Cras ornare tristique elit lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  | Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.
              .col-6
                h3 Front-end Design
                p
                  | Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit.
                  | Pellentesque egestas sem.
                  | Suspendisse commodo ullamcorper magna. Ut aliquam sollicitudin leo.
            .row
              .col-6
                h3 Ruby on Rails
                p
                  | Cras ornare tristique elit lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  | Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.
              .col-6
                h3 Object-oriented PHP
                p
                  | Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit.
                  | Pellentesque egestas sem.
                  | Suspendisse commodo ullamcorper magna. Ut aliquam sollicitudin leo.
    .section.section-bg
      .container
        .row.mb-30
          .col-4.section-content--white.section-content--right.section-content--one-third
            h2.section-heading Experience
            p Yes. I've been around.
          .col-8.section-content--two-third.pt-10
            .row.c-timeline-container
              .col-1.c-timeline.c-timeline--grey
                .c-timeline--point.c-timeline--point--orange
                | &nbsp;
              .col-5.ml-20
                p
                  small  2015 – Present
                h3 Unicorn Incubator Inc.
                p Senior Interface Designer
                p
                  small Portland, OR
              .col-6
                p
                  | Cras ornare tristique elit lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  | Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.
            .row.c-timeline-container
              .col-1.c-timeline.c-timeline--grey
                .c-timeline--point.c-timeline--point--orange
                | &nbsp;
              .col-5.ml-20
                p
                  small  2013 – 2015
                h3 California Design Bureau
                p Creative Director
                p
                  small Cupertino, CA
              .col-6
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  | Phasellus hendrerit. Pellentesque aaliquet nibh nec urna.
                  | In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.
                  | Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                  | eget blandit nunc tortor eu nibh. Nullam mollis.

    //.section
      .row
        .col-4
          .page
            .bottom
              .line #{name}
              .line #{position}
              .group
                .line p: #{phone}
                .line github: marcbachmann
              .group
                .line suitart ag
                .line räffelstrasse 25
                .line 8045 zürich
        .col-8
          .page
            img.logo(src=image)
            .bottom
              .line.center 8045 zürich