html
  head
    meta(charset="utf8")
    title Simple theme CV
    link(rel='stylesheet', href="//fonts.googleapis.com/css?family=Lato")
    link(rel='stylesheet', href="//fonts.googleapis.com/css?family=Arimo")
    - var stylesheetCommonLink = theme_common_resources + '/css/style.css'
    - var stylesheetLink = theme_path + '/css/simple.css'
    link(rel='stylesheet', href=stylesheetCommonLink)
    link(rel='stylesheet', href=stylesheetLink)
  body
    .container.mt-20.mb-20
      .row.border-bottom
        .col-8
          .header
            h1.header-title.mb-20
              span.text-block.text-first #{first_name}
              span.text-block.text-last #{last_name}
            h2.sub-title #{current_job_title}
        //.col-4.text-right
          ul.list-unstyled
            if linkedin
              li
                a(href=linkedin, target='_blank')
                  p
                    i.fa.fa-linkedin-square.mr-5
                    small #{linkedin}
            if twitter
              li
                a(href=twitter, target='_blank')
                  p
                    i.fa.fa-twitter-square.mr-5
                    small #{twitter}
            if facebook
              li
                a(href=facebook, target='_blank')
                  p
                    i.fa.fa-facebook-square.mr-5
                    small #{facebook}
            if github
              li
                a(href=github, target='_blank')
                  p
                    i.fa.fa-github-square.mr-5
                    small #{github}
            if instagram
              li
                a(href=instagram, target='_blank')
                  p
                    i.fa.fa-instagram.mr-5
                    small #{instagram}
      .row
        - var cityName = city
        - var countryName = country
        - var phoneNum = phone_1
        - var emailAddmail = "mailto:" + email
        - var emailAdd = email
        - var websiteLink = website
        if city && country
          .col-3
            h4 Location
            p #{cityName}, #{countryName}
        if phone_1
          .col-3
            h4 Phone
            p #{phoneNum}
        if email
          .col-3
            h4 Email
            p
              a(href=emailAddmail) #{emailAdd}
        .col-3
          h4 Website
          if website
            p
              a(href=websiteLink, target="_blank") #{websiteLink}
          else
            p -
    .section.section-bg.section-bg--light-grey
      .container
        .row
          .col-4.section-content--light-grey.section-content--right.section-content--one-third
            h2.section-heading Intro
            p What I am all about.
          .col-8.section-content--two-third.pb-20
            if bio
              p #{bio}
    .section.section-bg.section-bg--medium-light-grey
      .container
        .row
          .col-4.section-content--white.section-content--right.section-content--one-third
            h2.section-heading Skill
            p Batman would be jealous.
          .col-8.section-content--two-third
            .row
              if skills
                each skill in skills
                  .col-6
                    h3
                      small.text-primary #{skill.skill_level}% &nbsp;
                      | #{skill.skill_name}
                    .progress-bar
                      span.progress-bar-fill(style="width:"+skill.skill_level+"%")
    .section.section-bg
      .container
        .row.mb-30
          .col-4.section-content--white.section-content--right.section-content--one-third
            h2.section-heading Experience
            p Yes. I've been around.
          .col-8.section-content--two-third.pt-10
            if work_experience
              each exp in work_experience
                .row.c-timeline-container
                  .col-1.c-timeline.c-timeline--grey
                    .c-timeline--point.c-timeline--point--primary
                    | &nbsp;
                  .col-5.ml-20
                    p
                      small #{exp.date_started.toString().split(" ")[3]} – 
                        span #{exp.date_ended? exp.date_ended.toString().split(" ")[3] : "Present"}
                    h3 #{exp.company_name}
                    p #{exp.position}
                    p
                      small #{exp.location}
                  .col-6
                    p #{exp.description}
    .section.section-bg.section-bg--light-grey
      .container
        .row.mb-30
          .col-4.section-content--light-grey.section-content--right.section-content--one-third
            h2.section-heading Education
            p Lazy isn't in my vocabulary.
          .col-8.section-content--two-third.pt-10
            if education
              each edu in education
                .row.c-timeline-container
                  .col-1.c-timeline.c-timeline--grey
                    .c-timeline--point.c-timeline--point--primary
                    | &nbsp;
                  .col-5.ml-20
                    p
                      small #{edu.date_started.toString().split(" ")[3]} –
                        span #{edu.date_ended ? edu.date_ended.toString().split(" ")[3] : "Present"}
                    h3 #{edu.institution_name}
                    p #{edu.course_name}
                    p
                      small #{edu.location}
                  .col-6
                    p #{edu.course_description}
    .section.text-right
      .border-bottom
      .row
        .col-12
          ul.list-inline
            if linkedin
              li.list-inline-item
                a(href=linkedin, target='_blank')
                  p
                    i.fa.fa-linkedin-square.mr-5
                    small #{linkedin}
            if twitter
              li.list-inline-item
                a(href=twitter, target='_blank')
                  p
                    i.fa.fa-twitter-square.mr-5
                    small #{twitter}
            if facebook
              li.list-inline-item
                a(href=facebook, target='_blank')
                  p
                    i.fa.fa-facebook-square.mr-5
                    small #{facebook}
            if github
              li.list-inline-item
                a(href=github, target='_blank')
                  p
                    i.fa.fa-github-square.mr-5
                    small #{github}
            if instagram
              li.list-inline-item
                a(href=instagram, target='_blank')
                  p
                    i.fa.fa-instagram.mr-5
                    small #{instagram}