html
  head
    meta(charset="utf8")
    title SuitArt Business Card
    - var stylesheetLink = app_base_url + '/theme/simple/css/simple.css'
    - var stylesheetCommonLink = app_base_url + '/common/css/style.css'
    link(rel='stylesheet', href=stylesheetCommonLink)
    link(rel='stylesheet', href=stylesheetLink)
  body
    .container.mt-20.mb-20
      .row
        .col-12
          .header
            h1.header-title
              span.text-block.text-first #{first_name} first name
              span.text-block.text-last #{last_name} last name
            .row.border-bottom
              .col-8
                h2.sub-title #{job_title} Job title
              .col-4.text-right
                p Link to LinkedIn, FB
    .row
      .col-4
        .page
          .bottom
            .line #{name}
            .line #{position}
            .group
              .line p: #{phone}
              .line github: marcbachmann
            .group
              .line suitart ag
              .line räffelstrasse 25
              .line 8045 zürich
      .col-8
        .page
          img.logo(src=image)
          .bottom
            .line.center 8045 zürich